.example-container{
    padding: 25px;
}
.example-header {
    font-size: 2em;
    font-family: serif;
    background-color: #9f9fff;
}

.example-body {
    font-family: sans-serif;
}

input[type=text] {
    border: 2px solid #9a9a9a;
    border-radius: 4px;
    font-size: 1em;
    padding: 4px 10px;
    margin: 4px 0;
  }